table, th, td {
    border: 1px solid;
}

button:hover {
    cursor: pointer;
}

.pagination__page_active {
    color: red;
}

.cell {
    text-align: center;
    width: 150px;
}

.cell_small {
    width: 40px;
}

.cell_auto {
    width: auto;
}

.hidden {
   visibility: hidden;
}
