table {
    border-collapse: collapse;
    border: 3px solid black;
    text-align: center;
}

th {
    border: 3px solid black;
    font-weight: bold;
    width: 100px;
}

td {
    border: 1px solid black;
}

.highlight{
    color: red;
    background-color: blanchedalmond;
}
