
.table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
}

tr:first-child th {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

tr td:first-child {
    border-left: none;
}

tr td:last-child {
    border-right: none;
}

td.edit {
    background-image: url("/img/edit.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

td.delete {
    background-image: url("/img/delete.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}


